

html {
  height: 100%;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 1cm;
  margin-right: 1cm;
  min-height: 100%;
  font: 20px / 1 sans-serif;
  background-color: rgb(232, 253, 174);
  text-align: justify;
}

.intro {
  text-align: center;
  color: black;
  font: 32px / 1 Arial;
  margin-left: 1cm;
  margin-right: 1cm;
  border: 2px solid green;
  color: green;
}

.headers {
  text-align: center;
  color: black;
  font: 24px / 1 Arial;
  font-weight: bold;
  margin-left: 1cm;
  margin-right: 1cm;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1cm;
  width: 80%;
}

/* Style footers all over the website */
footer {
  text-align: center;
  font-style: italic;
  font-size: 10px;
  margin-top: 10px;

}

/* Style Home page image */
img {
  display: flex;
  width: 80%;
  margin-top: 2em;
}

/* Style pictures in top Gks */
.bestgk {
  position: relative;
  width: 25%;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 4px;
  margin-bottom: 8px;
  margin-top: 8px;
}


/* Add a border around the table */ 
.tables {
  border:8px solid green;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(230, 174, 52);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(236, 14, 14);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
